<div class="container-fluid" *ngIf="selectedSection">
    <div class="row">
        <div class="container parameter-container w-100">
            <h4>{{selectedSection.name}}</h4>
            <p>{{selectedSection.description}}</p>
           
            <div class="row mt-1 d-flex justify-content-center">
                <nav aria-label="Page navigation example">              
                    <div *ngFor="let parameter of selectedSection.parameters" class="btn m-3" 
                    [ngClass]="{
                        'btn-outline-secondary': parameter.completed == false,
                        'btn-success': parameter.completed && parameter.parameterGrade >= 2.33,
                        'btn-warning': parameter.completed && (parameter.parameterGrade >= 1.33 &&  2.33 > parameter.parameterGrade),
                        'btn-danger': parameter.completed && (parameter.parameterGrade <= 1.33)
                      }" >
                        <a class="" (click)="loadParameter(parameter)"> {{parameter.name}} {{parameter.parameterGrade}}</a>
                    </div>
                </nav>
            </div>

            <div class="row " >
                <div class="container">
                    <app-questions></app-questions>
                </div>
                
            </div>        
        </div>
    </div>
</div>