.parameter-container {
  //  border: brown 2px solid;
    border-radius: 10px;
    // padding: 30px;
}

.parameter-title {
   // border: green 2px solid;
   
    border: green 2px solid;
    font-weight: bold;
    font-size: large;
    padding: 20px;
    border-radius: 5px;
}