<div class="container-fluid">
    <div class="row">
        <div class="container">
            <h4>{{selectedSection.name}}</h4>
            <p>{{selectedSection.description}}</p>
           
            <div class="row mt-1 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <!-- <ul class="pagination pagination-m">
                        <li class="page-item" *ngFor="let parameter of selectedSection.parameters">
                            <a class="page-link"
                                (click)="loadParameter(parameter)"> {{parameter.name}}</a></li>
                    </ul> -->

                    <div *ngFor="let parameter of selectedSection.parameters" class="btn m-3" 
                    [ngClass]="{
                        'btn-outline-secondary': parameter.completed == false,
                        'btn-success': parameter.completed 
                      }" >
                        <a class="" (click)="loadParameter(parameter)"> {{parameter.name}}</a>
                    </div>
                </nav>
            </div>

            <div class="row">
                <app-questions></app-questions>
            </div>
            <div class="form-group" *ngIf="selectedSection">
                <label for="exampleInputEmail1">Notas:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>         
            </div>
        </div>
    </div>
</div>